@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}
ul {
  list-style: none;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  background-color: #e94290;
  text-align: center;
  color: white;
  width: 100%;
  padding: 1rem;
}
.header h1 {
  color: white;
  cursor: pointer;
}

/*Filter*/

.form {
  width: 100%;
  height: 150px;
}
.form-control {
  outline: none;
  border: none;
  margin: 30px auto;
  display: block;
  padding: 1rem;
  width: 60%;
  max-width: 400px;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #d3d0d1;
  position: relative !important;
}
.form-control-two {
  border-radius: 3rem 3rem 0 0;
}
.form-control::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: #f5f0f0;
}
/*resultes*/
.search-results {
  position: absolute;

  left: 50%;
  background-color: rgb(243, 235, 235);
  padding: 1rem;
  width: 60%;
  max-width: 400px;
  border-radius: 0rem 0rem 1rem 1rem;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.result {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
}
.display-none {
  display: none;
}
/*tracks*/

.tracks {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.track {
  text-align: center;
  padding: 1rem;
  padding-bottom: 4rem;
  color: #4d4848a6;

  background-color: #ececec;
  border-radius: 1rem;
  position: relative;
}
.track h2 {
  margin-bottom: 1rem;
  color: #e94290;
}
.artist-name {
  color: #272727;

  margin-bottom: 2rem;
}
.track button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  display: block;
  background-color: #ee6eaa;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 2rem;
  position: absolute;
  bottom: 5%;
  left: 32%;
  transition: all 0.5s ease;
}
.track button:hover {
  background-color: #e94290;
}

/* spinner*/
.spinner {
  width: 200px;
  margin: 0px auto;
}

/*More*/

.more {
  width: 100%;
}

.btn {
  width: 200px;
  height: 70px;
  margin: 3rem auto;
  outline: none;
  border: none;
  display: block;
  color: white;
  background-color: #d63ddb;

  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.more-is-loading {
  margin: 0 auto;
}
.btn:hover {
  background-color: #a715ac;
}

/* lyrics */

.lyrics {
  width: 80%;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #eee;
  color: white;
  border-radius: 1rem;
}
.lyrics h2 {
  color: #e94290;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.lyrics h3 {
  color: #272727a4;
  margin-bottom: 2rem;
}
.lyrics p {
  color: #333030;
  line-height: 1.5;
}
